<template class="nav-bar" bindable="router">
  <require from="./nav.scss"></require>
  <nav class="pure-menu pure-menu-horizontal">
      <a class="pure-menu-heading pure-menu-link" href="#"> 
        <span class="nav__brand-logo"></span>
        <span class="nav__brand-name">${router.title}</span>
      </a>

      <ul class="pure-menu-list">
        <li repeat.for="row of router.navigation | authFilter: isAuthenticated" class="pure-menu-item ${row.isActive ? 'pure-menu-selected' : ''}">
          <a class="pure-menu-link" href.bind="row.href">${row.title}</a>
        </li>
      </ul>
      
      <ul show.bind="!isAuthenticated" class="pure-menu-list pull-right">
        <li class="pure-menu-item"><a class="pure-menu-link" href="/#/login">Login</a></li>
        <li class="pure-menu-item"><a class="pure-menu-link" href="/#/register"><span class="pure-menu-span-emphasis">Sign Up<span></a></li>
      </ul>
      <ul show.bind="isAuthenticated" class="pure-menu-list pull-right">
          <li class="pure-menu-item"><a class="pure-menu-link" href="/#/profile">${displayName}</a></li>
          <li class="pure-menu-item"><a class="pure-menu-link" href="/#/" click.delegate="logout()">Logout</a></li>
      </ul>

      <!--<ul class="nav navbar-nav navbar-right">
        <li class="loader" if.bind="router.isNavigating">
          <i class="fa fa-spinner fa-spin fa-2x"></i>
        </li>
      </ul>-->
  </nav>
</template>