@import '../../colors';

$active-primary-color: darken($primary-color, 10%);

.navbar {

}

.navbar-menu {
    color: $dark-text-color;
}

a.navbar-item {
    color: $dark-text-color;

    &:hover {
        background-color: unset;
        color: $dark-text-color--hover;
    }
}

.navbar-brand {
    .name {
        font-weight: bold;
        font-size: 18pt;
    }
}

.logo {
    background-image: url('../../images/brand_color.png');
    background-size: 60px 32px;
    background-repeat: no-repeat;
    width: 60px;
    height: 32px;
    display: inline-block;
    margin-right: .25em;
}