@import '../../colors';

$active-primary-color: darken($primary-color, 10%);

.nav-bar {
    background-color: $primary-color;
    display: flex;
    justify-content: center;
}

.pure-menu-link {
    color: $light-text-color;
}

.pure-menu-horizontal {
    width: 1200px;
}

.pure-menu-span-emphasis {
    border: thin solid $light-text-color;
    padding: .25em 1em;
}

.pure-menu-link:hover {
    color: $light-text-color--hover;
    background-color: unset;
}

.pure-menu-link:focus {
    background-color: unset;
}

.pull-right {
    float: right;
}