@import '../../colors';

$active-primary-color: darken($primary-color, 10%);

.nav {
    background-color: $primary-color;
}

.logo {
    background-image: url('../../images/brand.svg');
    background-size: 28px 16px;
    background-repeat: no-repeat;
    width: 28px;
    height: 16px;
    display: inline-block;
    margin-right: .25em;
}