@import 'colors';
@import 'overrides';
@import url('https://fonts.googleapis.com/css?family=Exo+2');

html {
    overflow-y: auto;
}

html, body {
    height: 100%;
    font-family: 'Exo 2', sans-serif;
}

.page-host {
    margin-top: 1rem;
}

.container {
    flex: 1 1200px;
}

.column {
    display: flex;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.vertical-line {
    display: inline-block;
    border-left: thin solid $dark-text-color;
}

.pure-g-box-sizing > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1em;
}

// .button {
//     border-radius: 5px;
// }

article.banner {
    background-color: $primary-color;
    color: $light-text-color;
    padding: .25rem 0;
}

.media-content {
    overflow: unset;
}
