@import 'colors';
@import 'overrides';
@import url('https://fonts.googleapis.com/css?family=Exo+2');

html, body {
    height: 100%;
    font-family: 'Exo 2', sans-serif;
}

.page-host {
    position: absolute;
    top: 56px;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    // width: 100%;
    // height: 100%;
    // margin-top: 38px;
    // height: calc(100% - 38px);
}

.container {
    flex: 1 1200px;
}



.vertical-center {
    display: flex;
    align-items: center;
}

.vertical-line {
    display: inline-block;
    border-left: thin solid $dark-text-color;
}

.pure-g-box-sizing > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1em;
}

.nav-header {
    background-color: $primary-color;
}
